absl-py==2.1.0
affine==2.4.0
annotated-types @ file:///C:/b/abs_0dmaoyhhj3/croot/annotated-types_1709542968311/work
anyio @ file:///C:/b/abs_847uobe7ea/croot/anyio_1706220224037/work
attrs==25.1.0
cachetools==5.5.1
certifi==2024.12.14
charset-normalizer==3.4.1
click==8.1.8
click-plugins==1.1.1
cligj==0.7.2
colorama @ file:///C:/b/abs_a9ozq0l032/croot/colorama_1672387194846/work
contourpy==1.1.1
cycler==0.12.1
distro @ file:///C:/b/abs_71xr36ua5r/croot/distro_1714488282676/work
et_xmlfile==2.0.0
exceptiongroup @ file:///C:/b/abs_c5h1o1_b5b/croot/exceptiongroup_1706031441653/work
filelock==3.13.1
fonttools==4.55.6
fsspec==2024.2.0
google-auth==2.38.0
google-auth-oauthlib==1.0.0
GPUtil==1.4.0
grpcio==1.70.0
h11 @ file:///C:/b/abs_1czwoyexjf/croot/h11_1706652332846/work
httpcore @ file:///C:/b/abs_55n7g233bw/croot/httpcore_1706728507241/work
httpx @ file:///C:/b/abs_43e135shby/croot/httpx_1723474830126/work
idna==3.10
importlib_metadata==8.5.0
importlib_resources==6.4.5
Jinja2==3.1.3
jiter @ file:///C:/b/abs_acsxrw36a6/croot/jiter_1729808947806/work
joblib==1.4.2
kiwisolver==1.4.7
Markdown==3.7
MarkupSafe==2.1.5
matplotlib==3.7.5
mkl-fft @ file:///C:/b/abs_19i1y8ykas/croot/mkl_fft_1695058226480/work
mkl-random @ file:///C:/b/abs_edwkj1_o69/croot/mkl_random_1695059866750/work
mkl-service==2.4.0
mpld3==0.5.10
mpmath==1.3.0
networkx==3.0
numpy==1.24.1
oauthlib==3.2.2
openai @ file:///C:/b/abs_casb4ladn8/croot/openai_1730224443017/work
openpyxl==3.1.5
packaging==24.2
pandas==2.0.3
pillow==10.2.0
protobuf==4.25.3
psutil==6.1.1
pyasn1==0.6.1
pyasn1_modules==0.4.1
pydantic==2.10.6
pydantic_core @ file:///C:/b/abs_3ax4s6v28p/croot/pydantic-core_1724790490828/work
pyparsing==3.1.4
pyproj==3.5.0
python-dateutil==2.9.0.post0
pytz==2025.1
PyWavelets @ file:///C:/b/abs_a8r4b1511a/croot/pywavelets_1670425185881/work
rasterio==1.3.11
requests==2.32.3
requests-oauthlib==2.0.0
rsa==4.9
scikit-learn==1.3.2
scipy==1.10.1
seaborn==0.13.2
six==1.17.0
sniffio @ file:///C:/b/abs_3akdewudo_/croot/sniffio_1705431337396/work
snuggs==1.4.7
sympy==1.13.1
tensorboard==2.14.0
tensorboard-data-server==0.7.2
threadpoolctl==3.5.0
torch==2.4.1+cu124
torchaudio==2.4.1+cu124
torchvision==0.19.1+cu124
tqdm @ file:///C:/b/abs_77wju137gk/croot/tqdm_1724853945787/work
typing_extensions @ file:///C:/b/abs_0as9mdbkfl/croot/typing_extensions_1715268906610/work
tzdata==2025.1
urllib3==2.2.3
Werkzeug==3.0.6
zipp==3.20.2
